{% include base_path %}

<!-- start custom head snippets -->

<!-- Google Font: Lato for sidebar -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon -->
<link rel="shortcut icon" href="{{ base_path }}/images/Round_favicon_whiteback/favicon.ico"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/Round_favicon_whiteback/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/Round_favicon_whiteback/favicon-16x16.png" sizes="16x16"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/Round_favicon_whiteback/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/Round_favicon_whiteback/favicon-48x48.png" sizes="48x48"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/Round_favicon_whiteback/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/Round_favicon_whiteback/favicon-192x192.png" sizes="192x192"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/Round_favicon_whiteback/favicon-512x512.png" sizes="512x512"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/Round_favicon_whiteback/apple-touch-icon.png"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
