---
layout: archive
title: "R&D Archives"
permalink: /projects/
author_profile: false
---

<p class="wordwrap">Not every project ends up in a journal, but some are too interesting not to share. This is a collection of explorations, side quests, and half-finished ideas. Think about this as honorable mentions. And yes, some glorious failures too. Those are the best ones.</p>

{% include base_path %}

<div class="projects-list">
  {% assign sorted_projects = site.projects | sort: "date" | reverse %}
  {% for post in sorted_projects %}
    {% include archive-single-project.html %}
  {% endfor %}
</div>
